@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap");
body {
  background-color: hsl(172, 67%, 45%);

  background-size: cover;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
}

button {
  background: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-family: "Fredoka", sans-serif;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  font-size: 24px;
  cursor: pointer;
}

input {
  font-size: 24px;
  width: 350px;
  height: 40px;
  text-align: right;
  border-radius: 5px;
  font-family: "Fredoka", sans-serif;
  color: hsl(183, 100%, 15%);
  background-color: hsl(186, 14%, 43%);
  border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder {
  color: hsl(183, 100%, 15%);
}
input[name="buttonCustom"] {
  background: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  font-family: "Fredoka", sans-serif;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-size: 22px;
  cursor: pointer;
  text-align: center;
}

input[name="buttonCustom"]:focus {
  outline: 2px solid hsl(172, 67%, 45%) !important;
}
#num:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

#numeroDePessoas:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}

img {
  /* margin-left: 10px; */
  position: relative;
  right: 340px;
}

#containerPaiDeTodos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  width: 900px;
  height: 450px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.campos {
  text-align: center;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}
/* #valor {
  display: flex;
  flex-direction: row;
} */
#textoEselecionarPorcentagem {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Fredoka", sans-serif;
  margin-top: 10px;
  color: hsl(184, 14%, 56%);
}
.selecionarPorcetagem {
  width: 380px;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  margin-top: 5px;
  gap: 1rem;
}
#textoEvalor {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Fredoka", sans-serif;
  color: hsl(184, 14%, 56%);
}
#textoEnumeroDePessoas {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 10px;
  color: hsl(184, 14%, 56%);
}

#res {
  background: hsl(183, 100%, 15%);
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  border-radius: 10px;
}

#textoEJuros {
  height: 80px;
  display: flex;
  flex-direction: row;
  gap: 8rem;
  align-items: center;
  margin-top: 20px;
}
#title2 {
  display: flex;
  gap: 8rem;
}
#title3 {
  margin-top: 10px;
  text-align: left;
  color: hsl(0, 0%, 100%);
}
.person {
  color: hsl(184, 14%, 56%);
}
#juros {
  text-align: center;
  font-size: 30px;
  color: hsl(172, 67%, 45%);
}
#textoETotal {
  height: 80px;
  display: flex;

  flex-direction: row;
  gap: 9.4rem;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 80px;
}
#title4 {
  color: hsl(0, 0%, 100%);
  text-align: left;
}

#buttonReset {
  background: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-family: "Fredoka", sans-serif;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
